{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Urls ({{ url_count }})</h2>
            <form class="form-inline">
                <div class="form-group">
                    <label for="user">User:</label>
                    <select class="form-control" id="user" name="username">
                        <option value="">-- Select User--</option>
                        {% for user in users %}
                        <option value="{{ user }}"{% if user == current_user.name %} selected="selected"{% endif %}>{{ user }}</option>
                        {% endfor %}
                    </select>
                </div>
            {{ current_user.username }}
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" name="title_match" id="title" placeholder="{{ title_match }}">
                </div>
                <div class="form-group">
                    <label for="url">Url:</label>
                    <input type="text" class="form-control" name="url_match" id="url" placeholder="{{ url_match }}">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
                <a href="{{ url_for('index') }}" class="btn btn-default">Clear</a>
                {% if limit %}
                <input type="hidden" name="limit" value="{{ limit }}" />
                {% endif %}
            </form>

            <nav>
                <ul class="pager">
                    {% if start >= limit %}
                        <li class="previous"><a href="?limit={{ limit }}&start={{ start - 25 }}&title_match={{ title_match }}&url_match={{ url_match }}&username={{ current_user.name }}">&larr; Previous</a></li>
                    {% else %}
                        <li class="previous disabled"><a href="#">&larr; Previous</a></li>
                    {% endif %}
                    {% if start + limit < url_count %}
                        <li class="next"><a href="?limit={{ limit }}&start={{ start + 25 }}&title_match={{ title_match }}&url_match={{ url_match }}&username={{ current_user.name }}">Next &rarr;</a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">Next &rarr;</a></li>
                    {% endif %}
                </ul>
            </nav>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Url</th>
                    <th>Title</th>
                    <th>Last Visit</th>
                    <th>Visit Count</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for url in urls %}
                    <tr>
                        <td>{{ url.user.name }}</td>
                        <td>{{ url.url }}</td>
                        <td>{{ url.title }}</td>
                        <td title="{{ url.last_visit_time }}">{{ url.last_visit }}</td>
                        <td>{{ url.visit_count }}</td>
                        <td>
                            <a href="{{ url_for('graph', id=url.id) }}">View Graph</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No Urls in History</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <nav>
                <ul class="pager">
                    {% if start >= limit %}
                        <li class="previous"><a href="?limit={{ limit }}&start={{ start - 25 }}&title_match={{ title_match }}&url_match={{ url_match }}&username={{ current_user.name }}">&larr; Previous</a></li>
                    {% else %}
                        <li class="previous disabled"><a href="#">&larr; Previous</a></li>
                    {% endif %}
                    {% if start + limit < url_count %}
                        <li class="next"><a href="?limit={{ limit }}&start={{ start + 25 }}&title_match={{ title_match }}&url_match={{ url_match }}&username={{ current_user.name }}">Next &rarr;</a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">Next &rarr;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
